/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; 
    position: fixed; /* Stay in place */
    z-index: 99999; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transform: translateX(250px);
    transition: 0.5s cubic-bezier(.65,.65,.5,.89) !important;
    &.open{
        transition: 0.5s cubic-bezier(.65,.65,.5,.89) !important; /* 0.5 second transition effect to slide in the sidenav */
        transform: translateX(0);

    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
