@import "./side-nav";
@import "./avatar";

.story-list {
    overflow-x: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    touch-action: pan-x;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
        display: none;
    }
}

.add-story {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: relative;
    margin: 0 10px;
    i {
        color: #989898;
    }
}

// Bottom Menu Navigation --------------------------------------
.navigation {
    height: 60px;
    background-color: #f7f7f7;
    border-top: 2px solid #c3c3c3;
}

// Message List
.message-list {
    height: calc(100vh - 220px);
    overflow-y: auto;
}

// Main Section
.main-section {
    height: calc(100vh - 94px);
    overflow-y: auto;
}
