@import "./side-nav";
.story-list {
    overflow-x: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
    touch-action: pan-x;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
        display: none;
    }
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &.bordered {
        border: 2.5px solid #0bc4d9;
        padding: 1px;
    }
}

.avatar-badge {
    position: absolute;
    top: 38px;
    right: 3px;
    padding: 6px;
    border-radius: 50%;
    background: #0bc4d9;
    border: 1px solid white;
    color: white;
}

.add-story {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: relative;
    margin: 0 10px;
    i {
        color: #989898;
    }
}

// Bottom Menu Navigation --------------------------------------
.navigation {
    height: 60px;
    background-color: #f7f7f7;
    border-top: 2px solid #c3c3c3;
}

// Message List
.message-list {
    height: calc(100vh - 220px);
    overflow-y: auto;
}

// Main Section
.main-section {
    height: calc(100vh - 94px);
    overflow-y: auto;
}
